.formulario div {
  display: flex;
  flex-direction: column;
  max-width: 1200px;
  margin: 0 auto;
}

.formulario label {
  display: flex;
  margin-top: 1rem;
}

button {
  display: flex;
  margin: 1rem auto;
  cursor: pointer;
}
